<div id="footer">
	<div class="row">
		<div class="small-12 columns text-center">
			<p>I <i class="icon-heart"></i> to hear from you: <a href="mailto:hello@fingers.cx"><i class="icon-envelope-alt icon-large"></i></a><a href="https://twitter.com/alexlovelltroy"><i class="icon-twitter-sign icon-large"></i></a><a href="https://www.facebook.com/alexlovelltroy"><i class="icon-facebook-sign icon-large"></i></a><a href="http://www.linkedin.com/in/alexlovelltroy"><i class="icon-linkedin-sign icon-large"></i></a><a href="http://feeds.feedburner.com/fingerscx"><i class="icon-rss icon-large"></i></a></p>
            <small><a href="http://lovelltroy.org/">Alex Lovell-Troy</a> has his fingers crossed and this site comes with a big, fat <a href="/disclaimer/">disclaimer</a>.<br />
            I want to be <a href="http://finette.com">Pascal</a> when I grow up.  He built <a href="http://theheretic.me">The Heretic</a> upon which this is based.</small>
		</div>
	</div>
</div> <!-- /footer -->
<!-- Icon from http://thenounproject.com/term/fingers-crossed/8534/ -->

</body>
</html>
