---
layout: default
title: The Heretic Network
network:
 - name: Adam Scheuring
   about: Engineer solving complex problems with technology. Smart sensors, Bluetooth LE, HW prototyping. I'm building my wearable tech startup.
   link: 
   email: adam.scheuring@gmail.com
   tag: Wearable Tech
   location: Oslo
   country: Norway
 - name: Adriano Martins
   about: I can help you with the design of your pitch deck (or decks in general), as well as other documents.
   link: https://speakerdeck.com/adrianomartins
   email: am.pyka@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Alban Denoyel
   about: Can help with fundraising, bizdev, marketing, intros, and the 3D industry.
   link: http://sketchfab.com/
   email: alban@sketchfab.com
   tag: Jack of all Trades
   location: New York (NY)
   country: USA
 - name: Alex Lovell-Troy
   about: I'm an entrepreneur and I build software from apps to telescope control. Need connections? Need a good listener? Need a man in Managua?
   link: http://lovelltroy.org/
   email: alex@lovelltroy.org
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Anna Wolfe
   about: I'm most passionate about music and have spent the past 3 years researching digital distribution, online marketing and the production process.
   link: http://annawolfe.net/
   email: aewolfe91@gmail.com
   tag: Music
   location: Raleigh (NC)
   country: USA
 - name: Annemarie du LeBohn
   about: CSR strategist, helping small to medium size business' equally embrace people, the planet, and profits. Strengths include - engagement, communication, and volunteerism.
   link: http://dulebohn.com/
   email: im@dulebohn.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Art Lapinsch
   about: Knows a thing or two about Creativity, Marketing & Branding.
   link: http://artlapinsch.com/
   email: arturlapinsch@gmail.com
   tag: Marketing
   location: San Francisco (CA)
   country: USA
 - name: Ashley DuBois
   about: Happy to swap stories or give advice to passionate early stage founders like myself.
   link: http://innovint.us
   email: ashley@innovint.us
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Aubryn Thompson
   about: Expert in production and operations for startups and digital products - everything from client relations and process to UX and agile dev
   link: http://hyperhyper.com/
   email: aubryn@hyperhyper.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Axel Heinz
   about: I can help in product management, UI design, scrum, building lean web startups, financing startups, going international, DIY topics.
   link: http://www.makerist.de/
   email: axelmheinz@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Ben Adida
   about: Web arch and hacking, security, tech leadership, and tech presentations.
   link: 
   email: ben@adida.net
   tag: Software Architecture
   location: Silicon Valley (CA)
   country: USA
 - name: Ben Hoxie
   about: I can help out with - web development (ruby/css/html/javascript), product management (MVP, agile dev) and online marketing domain knowledge.
   link: 
   email: bhoxie@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Bill Walker
   about: Engineering management, technical leadership, software process.
   link: https://twitter.com/wfwalker
   email: walker@shout.net
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Bram Geenen
   about: Like to collaborate on creating beautiful things that involve technology. Can help with design, concepting, open hardware, 3D printing.
   link: http://www.studiogeenen.com/
   email: info@studiogeenen.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Brennan Novak
   about: Most comfortable at the nexus of design & engineering- UX, UI, branding, and information architecture. Brainstorming ideas is also ridiculously fun
   link: https://brennannovak.com/
   email: hi@brennannovak.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Brian Austin
   about: At InternetTIPS.com, using Joomla, I help and support people in creating great websites that work for people, search engines, and the mobile web.
   link: http://internettips.com
   email: brian@internettips.com
   tag: Web Publishing
   location: Isle of Skye
   country: Scotland
 - name: Carmen Boronat Badia
   about: I'm an expert in business strategy and communication. Specialized in Spanish and French market. Member of the community Impact Hub. 
   link: https://www.linkedin.com/pub/carmen-boronat-badia/19/54a/913
   email: cboronatbadia@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Chris Psaltis
   about: Building reliable, cost effective, high performance systems on the cloud
   link: https://mist.io/
   email: cpsaltis@mist.io
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Christopher Boulila
   about: Working on Train Information System and part of a Lean Engineering Coaching program of the company, so for change management or integrating L.E. approach, don't hesitate.
   link: 
   email: christopher.boulila@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Damian Herrick
   about: I help businesses tell their story supported by data, using insights from data science, analytics, and my business expertise.
   link: http://www.lakehillanalytics.com/
   email: damian@lakehillanalytics.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Dan Mills
   about: Product guy with deep technical expertise. Web, identity, crypto. Recently did a deep-dive on k-12 teachers. Also, I love food and cooking!
   link: 
   email: danmills@sandmill.org
   tag: Product Management
   location: Silicon Valley (CA)
   country: USA
 - name: Daniel Heitz
   about: Entrepreneur with creative skills such as corporate and ux-design. I can help out with design related questions from an entrepreneurs perspective.
   link: http://dnlhtz.de/
   email: mail@dnlhtz.de
   tag: UX-Design
   location: Freiburg, Germany
   country: ZZZ
 - name: Desigan Chinniah
   about: Firestarter and everyday social glue. Networking, community, mobile partnerships & BD. Always up for a coffee. Say hello.
   link: http://desiganchinniah.com/
   email: heretic@desiganchinniah.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Dhaval Chadha
   about: I am a purpose driven entrepreneur and generalist good at strategy, branding, networking, innovation and social impact.
   link: http://www.pipa.vc/
   email: dhaval@pipa.vc
   tag: Strategy
   location: Rio de Janeiro
   country: Brazil
 - name: Diane Loviglio
   about: Understanding who your current and future customers are and why they love you or don't need you.
   link: http://www.dianeloviglio.com/
   email: diane.loviglio@gmail.com
   tag: User Research
   location: San Francisco (CA)
   country: USA
 - name: Diane Tate
   about: Marketing, Communications, Events & Startupism
   link: http://diane.bz/
   email: biz@stanfordalumni.org
   tag: Communications
   location: San Francisco (CA)
   country: USA
 - name: Dominic Lütjohann
   about: I'm a scientist in Life Science Informatics, accelerating research by optimized data handling products.
   link: 
   email: dominic@luetjohann.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Eli Bressert
   about: Astronomically biased data scientist at Jawbone and Insight Fellow. Love big ideas and putting them into action by connecting the impossible. Need feedback? Let's chat over some coffee (or tea).
   link: http://astrobiased.com/
   email: ebressert@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Elio Qoshi
   about: Graphic Designer currently focused on Visual Identity. Delivering metaphors in simple visuals. Un-official game developer and wannabe retro gamer.
   link: http://www.elioqoshi.com/
   email: helios@elioqoshi.com
   tag: Graphic Design
   location: Tirana
   country: Albania
 - name: Emily Chardac
   about: Specialized in Global HR & Recruiting, I can help you network, revamp your resume, look at your professional brand, or interview.
   link: http://echardac.blogspot.com/
   email: emily.chardac@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Eric Tyler
   about: Mobile tech in emerging markets & global entrepreneur networks and tools.
   link: http://erictyler.com
   email: Erict19@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Evelina Zubrickaite
   about: Innovation management, design process, neurocreativity, Labs/Events organization.
   link: http://evelinazubrickaite.com/
   email: evelina@dreamups.org
   tag: Innovation Management
   location: Copenhagen
   country: Denmark
 - name: George Aspromougos
   about: Digital agency owner, can help you with branding, website or application design and development. Also, consulting regarding digital marketing.
   link: http://www.artime.gr/
   email: george@artime.gr
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Gorka Sadowski
   about: Technology, CyberSecurity, Idea to Invention to Innovation, go-to-market, business model, international, sociology… Available to help and brainstorm on any of these topics, especially if we can use it to build a better world.
   link: 
   email: gorka@akalak.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Hanan Youssef
   about: I can help you with understanding developing markets especially MENA and how you can take your business there. All things digital+Mobile.
   link: http://eg.linkedin.com/in/hananyoussef/
   email: hanan.youssef@gmail.com
   tag: Business Development
   location: Cairo
   country: Egypt
 - name: Harald Katzenschläger
   about: Dream development @ DREAMICON VALLEY
   link: http://www.dreamacademia.at/dreamascorner/
   email: harald@dreamacademia.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Heather Utzig
   about: My skills is scaling companies and the art of distribution; channel partners, sales partners and logistical partners.
   link: 
   email: Heather.utzig@imi.co
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Hermann Gams
   about: make people think about their dreams and encourage/support them in developing, experience of several hundred encounters during the last six years. As a TEDx-Co-Organizer access to the network.
   link: http://www.dreamacademia.at/dreamascorner/
   email: hermann@dreamacademia.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Ibai Urruchua
   about: Scaling human relationships, Online Help, Analytics, A/B Tests and Internationalization. If you are looking to grow and scale, I can help.
   link: 
   email: grotuk@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Jaisen Mathai
   about: Entrepreneur with a couple startups in the photo/video/media space. Engineer by trade but I tend to spend most of my time obsessing over the product. If you ever need someone to play devil's advocate, I'm your person.
   link: http://trovebox.com/
   email: jaisen@jmathai.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Jane Finette
   about: Happy to offer free 30 min professional coaching sessions. Bring a topic and let's get to work! I'm passionate about you being brilliant!
   link: http://janefinette.com/
   email: jane@finette.com
   tag: Personal Development
   location: Silicon Valley (CA)
   country: USA
 - name: Janse Romero Borçari
   about: IBM MAXIMO Consuntant, Asset management knowlendge. Java development.
   link: http://janseromero.blogspot.com/
   email: janseromero@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Jarg Temme
   about: Founder of deal united and KRYD, Coach and Mentor for few startups, Expert in CRM, Product Development and Ecommerce.
   link: 
   email: jarg@crosstab.de
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Jay Desai
   about: Happy to provide advice on health IT start-ups, health reform, ObamaCare, ACOs, value-based reimbursement, Health Information Exchanges, and health care services businesses
   link: http://www.patientping.com/
   email: jdesai01@gmail.com
   tag: Healthcare
   location: Boston (MA)
   country: USA
 - name: Jennifer Hirsch
   about: Building movements around socially responsible business through marketing & partnership strategy. Industries - health, digital media, socent
   link: http://www.markedpoint.com/
   email: jennifer@markedpoint.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Jennifer Selby Long
   about: I help teams articulate your ideas and provide meaningful pathways to execute.
   link: http://www.jenniferselbylong.com/
   email: jennifer.selby@selbygroup.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Jeremie Miller
   about: Protocols, messaging, communications systems.
   link: http://jabber.org/
   email: jeremie@jabber.org
   tag: Engineering
   location: Denver (CO)
   country: USA
 - name: Jeremy M. Goldberg
   about: Civic and social Innovator and problem solver who knows a thing or two about public-private partnerships.
   link: 
   email: jergoldberg@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Jeremy Higgs
   about: I love building social businesses! I currently work to provide clean energy to off-grid communities in Pakistan through EcoEnergyFinance.
   link: http://www.ecoenergyfinance.org/
   email: jeremy.higgs@gmail.com
   tag: Social Entrepreneurship
   location: Karachi
   country: Pakistan
 - name: Jesal Gadhia
   about: Web engineer who has built high traffic sites for major brands & start-ups. Offering expertise to anyone seeking technical advise or looking to build a web app.
   link: http://jes.al/
   email: jesal7@gmail.com
   tag: Back-end Development
   location: Los Angeles (CA)
   country: USA
 - name: Jesse von Doom
   about: I know music, music industry, artist management, JS / LAMP development, swearing, coffee drinking, and a little about parenting. I can cook.
   link: http://cashmusic.org/
   email: jessevondoom@gmail.com
   tag: ZZZ
   location: Portland (OR)
   country: USA
 - name: João Paulo Melo
   about: I'm a web application developer, leader, agilist and aspiring entrepreneur.
   link: http://br.linkedin.com/in/sanguedemonstro
   email: sanguedemonstro@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: John Slater
   about: I do brand communications, creative direction and digital marketing. Always happy to answer a question or help where I can.
   link: http://about.me/johnhslater
   email: johnhslater@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Josef Schodl
   about: Curious entrepreneur, profound experience in project management, currently engaged in maker movement, innovation, research, collaboration.
   link: https://makersqr.com/
   email: josef.schodl@makersqr.com
   tag: ZZZ
   location: Silicon Valley (CA)
   country: USA
 - name: Joseph Logan
   about: Unlocking the hidden powers of extraordinary misfits--people who would succeed at anything and choose the harder path of altering the status quo.
   link: http://www.josephlogan.com/
   email: josephlogan@airpost.net
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Juan Vazquez
   about: I'm a  product manager who can do user experience and code some frontend.
   link: 
   email: Juanjovazpar@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Justin Riddiough
   about: Enjoy helping others create blogs and websites and seeing them turn it into something special. SEO / Blogs / Social Media / Newbie friendly
   link: http://visioninit.com/
   email: jriddiough@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Keith Gregg
   about: Design and implementation of growth strategies to accelerate ideas into value and monetize assets. 27 years in disruptive environments.
   link: http://www.jrgventures.com/
   email: kag@jrgventures.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Kevin Miller
   about: If you have something important to say but can't find the right words, I've been lucky to do TEDx's in spanish & english on embracing fear & empathy.
   link: http://superheroexperiments.com/
   email: heykevinm@gmail.com
   tag: Public Speaking
   location: 
   country: Currently A World Nomad
 - name: Konstantin Pelykh
   about: I'm a software engineer with a passion for Big Data. Can help you with your data projects and data-intensive applications.
   link: 
   email: kpelykh@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Liu Liu
   about: UX Design, Interaction Design
   link: http://auxdesigner.com/
   email: liuliuweb@gmail.com
   tag: UX Design
   location: Silicon Valley (CA)
   country: USA
 - name: Mark Gavagan
   about: I can simplify & refine your 60 second elevator pitch. Write a draft you deliver in under 90 seconds, then email me the text & let's do it!
   link: http://bothsider.com/
   email: mgav@bothsider.com
   tag: Presentations
   location: Mendham (NJ)
   country: USA
 - name: Marios Antonoudiou
   about: I can help you get the most out of the web. I do that by developing meaningful websites and usable applications.
   link: http://www.qboss.eu/
   email: marios.ant@qboss.eu
   tag: Web Development
   location: Athens
   country: Greece
 - name: Martin Schoessler
   about: Supporting fellow entrepreneurs to understand German/UK/European markets with a strong focus on B2B/Enterprise solutions, including public sector issues (i.e. regulation).
   link: http://www.causa-c.de/
   email: schoessler@causa-c.de
   tag: Public Sector
   location: Berlin
   country: Germany
 - name: Matej Novak
   about: Writing, branding, advertising, storytelling, presenting — pretty much anything to do with the written and spoken word.
   link: 
   email: matejnovak@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Matías A. Fontecilla Correa
   about: I can help with a perspective in Marketing Research and Business Models especially in LATAM
   link: https://twitter.com/search?q=%23matiasfonte
   email: matias@benchbanking.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Matthew Taylor
   about: Live your book dream! I’m an author/editor/designer and can offer co-brainstorming and coaching for your book ideas—including the ones buried in your unconscious.
   link: 
   email: mtaylor.author@gmail.com
   tag: Editorial Development
   location: Silicon Valley (CA)
   country: USA
 - name: Miguel Baumann
   about: I have extensive Knowledge in E-Commer market in Germany and Switzerland, especially Shopsystems, Integration of payment, Checkout processes and Conversion rate Optimization on mobile devices.
   link: http://www.miguelbaumann.com
   email: m.baumann@cartmi.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Nicky Szmala
   about: mobile@Ogilvy guy in China, happy to help on UX, Asia insights & customer dev. Focus on all things mobile, O2O, mCommerce, Social, Big Data.
   link: https://angel.co/nicky-szmala
   email: nicky.szmala@ogilvy.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Niek Huizenga
   about: I'm a startup entrepreneur and lecturer. My expertise is in business strategy, company building and funding.
   link: http://www.niekhuizenga.com/
   email: n.huizenga@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Olivier Yiptong
   about: Engineer of all stripes. I’ve had a few startups. Can help with product management, web, mobile, backend, infra and devops, and engineering things in general.
   link: 
   email: olivier.yiptong@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Orin Davis
   about: I make workplaces great places to work, do research on creativity and self-actualization, talk to people about positive psychology, and coach folks, as well.
   link: http://www.qllab.org/
   email: davisoc@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Pascal Finette
   about: Chief Heretic, Do-Gooder @ Google.org, Posse Leader, Nerd, Coffee Snob, Dancer-in-the-Moment.
   link: http://finette.com/
   email: p@finette.com
   tag: Strategy
   location: Silicon Valley (CA)
   country: USA
 - name: Patrick Santana
   about: Geek and Trovebox co-founder. From Brazil working on Trovebox Apps. Java/iOS/AWS
   link: http://trovebox.com/
   email: patrick@trovebox.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Paula Ewanich
   about: I am passionate about start ups making the right hiring choices, investing in and retaining employees. As a HR professional I have been on both the hiring side and the turnover side. I'd love to discuss your current hiring practices.
   link: 
   email: pewanich@yahoo.com
   tag: Human Resources
   location: Silicon Valley (CA)
   country: USA
 - name: Peter Buchroithner
   about: Fashion from retail stores and e-commerce to B2B Distribution, production; Social Media Marketing, Advertising.
   link: http://www.troutloud.com/
   email: peter@buchroithner.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Peter Day
   about: My expertise is tech support. I'm trained in talking to users, finding pain points of the product and fixing them.
   link: 
   email: Peter.day4@gmail.com
   tag: Support
   location: San Francisco (CA)
   country: USA
 - name: Peter Sankauskas
   about: I advise startups on their technology stacks, with a focus on Amazon Web Services, being lean and getting things done. 
   link: http://answersforaws.com/
   email: peter@answersforaws.com
   tag: Cloud Computing
   location: Silicon Valley (CA)
   country: USA
 - name: Pierre-Antoine Passet
   about: How I can help - Backend development (esp. Django, Python), infrastructure an all things web-dev.
   link: http://sketchfab.com/
   email: pa.passet@gmail.com
   tag: Back-end Development
   location: New York (NY)
   country: USA
 - name: Roberto Machado
   about: I can help you bring your Idea to Product/Market fit and building an amazing team.
   link: http://www.groupbuddies.com/
   email: roberto@groupbuddies.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Roland Trimmel
   about: Product strategist in Internet, tech and music. Understand your customers and make your product fit the market.
   link: http://about.me/roland.trimmel
   email: roland.trimmel@re-compose.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Roland Whitehead
   about: Two bootstrapped start-ups funded by fee earning, now incubating. Many years as CIO. PE & legals. Too much grey these days. London.
   link: http://quru.com/
   email: roland@quru.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Rutger van Raalten
   about: High-tech materials entrepreneur from The Netherlands. Can bring you into contact with awesome people who apply innovative high-tech materials in a broad variety of applications (space, automotive, etc.).
   link: http://www.minus9.nl/
   email: rutger@minus9.nl
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Ryan Merkley
   about: Best in a hot mess or teetering disaster. Org and product strategy, comms and marketing -- crisis or other. Expect brutal truth, then we dig in.
   link: http://ryanmerkley.tumblr.com/
   email: ryan@merkley.ca
   tag: Strategy
   location: Toronto
   country: Canada
 - name: Sam Solie
   about: Film and Outdoor Experiences - I'm a one-man film crew. My expertise is capturing experiences in the first person. I also guide adventures in the outdoors focused on challenge and connection.
   link: http://www.samsolie.com/
   email: solie.sam@gmail.com
   tag: Storytelling
   location: Boulder (CO)
   country: USA
 - name: Sarah Brooks
   about: design strategist, user experience designer and writer. i envision and design product and service systems aimed at social-ecological wellbeing.
   link: http://www.linkedin.com/in/sarahbbrooks/
   email: sarah@networkedculture.com
   tag: Design Strategy
   location: San Francisco (CA)
   country: USA
 - name: Sara Frankel
   about: My areas of expertise are consumer media, consumer ecommerce, and the older adult market.
   link: 
   email: sara_frankel@mac.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Scott Jenson
   about: UX design and strategy, focusing on mobile and smart devices.
   link: http://www.jenson.org/
   email: scott@jenson.org
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Sebastian Todt
   about: New Business Development, Intrapreneurship (led internal startups), Marketing & Sales Strategy Development & Implementation. Venture Capital (CVC).
   link: 
   email: todt.se@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Ski Milburn
   about: Serial cleantech entrepreneur with over 35 years and 5+ startups.  One to $5 Billion, one bust, two did OK, current one survived Chapter 11, now growing.
   link: 
   email: milburnski@vairex.com
   tag: Angel Funding
   location: Boulder (CO)
   country: USA
 - name: Sydney Malawer
   about: Humanizing anything that touches a human, moving people to action, and putting up the existential mirror to help you make the right choice for you.
   link: https://medium.com/p/9b29900ef327
   email: sydney.malawer@gmail.com
   tag: Social Entrepreneurship
   location: Medellin
   country: Colombia
 - name: Teresa Maria Zimmermann
   about: Creating Brands, Finetuning Brands, Marketing Brands, Selling Brands. All areas of international Entertainment and Lifestyle.
   link: http://www.thesmallgatsby.com/
   email: teresa.maria@thesmallgatsby.com
   tag: Brand Architecture
   location: Vienna
   country: Austria
 - name: Thomas Schranz
   about: Product Management, Journey/cognitive biases/misconceptions/struggles as Technical Founder.
   link: https://www.blossom.io/
   email: thomas@blossom.io
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Tiffany J. Hopkins
   about: I help people shape their passions into the resilient, fulfilling and profitable businesses of their dreams.
   link: http://thefound.org/
   email: tiffany@thefound.org
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Tobias Schottdorf
   about: I can help with PhD level CS & Mathematics as well as front-end web and hybrid mobile stuff.
   link: 
   email: tobias.schottdorf@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Tudor Tarlev
   about: Happy to support with talent management, product development and open hardware prototyping.
   link: http://www.tudortarlev.co/
   email: t.tarlev@gmail.com
   tag: Product Development
   location: Amsterdam
   country: Netherlands
 - name: Wout Laban
   about: Storytelling/branding - Every brand/company/person has a story, I love finding the essence of a story and help you with a strategy and visualisation of yours.
   link: http://www.centralparkoffice.com/
   email: woutlaban@icloud.com
   tag: Communications
   location: Amsterdam
   country: Netherlands
 - name: Zach Machuca
   about: I have just recently begun creating a game-changing 3D Printing service. I would love to connect with others in this industry.
   link: 
   email: Zachmachuca@gmail.com
   tag: ZZZ
   location: 
   country: ZZZ
 - name: Zeljko Dakic
   about: Rails, Nodejs expert. Zurb, Bootstrap, Angular, Meteor are things you can ask me about. Rails consultant during the day, trying to get devengine.co off the ground.
   link: http://www.dakic.com/
   email: zeljko@dakic.com
   tag: Front-end & Back-end Development
   location: Chicago (IL)
   country: USA
 - name: Yuriy Dybskiy
   about: JavaScript Engineer and Developer Advocate, happy to help with Front-End JS or Meteor apps.
   link: http://dybskiy.com/
   email: yuriy@dybskiy.com
   tag: Front-end Development
   location: Vancouver
   country: Canada
---
<div id="headerNetwork" class="hide-for-small">
</div> <!-- /headerAbout -->

<div id="generic">
	<div class="row">
		<div class="large-3 columns">
			<h3>ABOUT</h3>
		</div>
		<div class="large-9 columns">
			<p>The Heretic Network is a group of fellow Heretics who kindly offered their time and expertise to help you on your own journey. It all started with <a href="http://theheretic.me/2013/12/08/the-heretic-network/">this post</a>. It's us paying it forward.</p>
			<p>Feel free to reach out to them. And please don't forget: These wonderful folks are doing this out of gratitude - please treat them like the messiah.</p>
			<p>And <a href="mailto:hello@theheretic.me">email me</a> when something cool came out of a collaboration, when you want to offer your own expertise to fellow Heretics or when you just want to say Hi.</p>
			<p>With deep admiration,<br>Pascal</p>
			<hr>
		</div>
	</div>

	<div class="row" id="network">
		<div class="large-3 columns">
			<h3>THE NETWORK</h3>
         <p>
         Sort by:<br />
         <button class="tiny radius sort" data-sort="name">Name</button>
         <button class="tiny radius sort" data-sort="tag">Tag</button>
         <button class="tiny radius sort" data-sort="country">Country</button>
         </p>
		</div>
		<div class="large-9 columns">
			<ul class="large-block-grid-3 list">
			{% for node in page.network %}
				<li>
					<div class="panel">
	  				<h5 class="name">{{ node.name }}</h5>
	  				<p class="tag" {% if node.tag == 'ZZZ' %}style="display: none;"{% endif %}><em>#{{ node.tag }}</em></p>
               <p {% if node.country == 'ZZZ' %}style="display: none;"{% endif %}><em>@{% if node.location != null %}{{ node.location }}, {% endif %}<span class="country">{{ node.country }}</span></em></p>
	  				<hr />
	  				<p>{{ node.about }}</p>
	  				<p>{% if node.link != null %}<a href="{{ node.link }}">more</a> | {% endif %}<a href="mailto:{{ node.email }}">contact</a></p>
					</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div> <!-- /generic -->

<!-- list.js -->
<script src="{{ site.baseurl }}js/list.min.js"></script>
<script type="text/javascript">
var options = {
   valueNames: [ 'name', 'tag', 'country' ],
   page: 500
};

var networkList = new List('network', options);
</script>
<!-- /list.js -->
